<title>Find the best cheap flexible workplace</title>


<h1>Flexplore</h1>

<br />

<p>Find your new favourite place to study or work!</p>
<form action="/search" method="GET">
  <input type="text" name="name"/>
</form>


<!--<%= link_to 'Blog', controller: 'articles' %>-->
