<title>Find the best cheap flexible workplace</title>


<h1>Flexplore</h1>

<br />

<p>Find your new favourite place to study or work!</p>

<form action="/search" method="GET">
  <input type="text" name="name"/>
  <input type="submit" value="Search">

</form>

<%= form_tag(locations_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search name or city" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

 <br />

<form>
  <input type="radio" name="price" value="month" checked> Price per month<br>

 <input type="checkbox" name="vehicle2" value="Car"> 0 - 50 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 50 - 100 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 100 - 150 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 150 - 200 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 200 - 250 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 250+ <br>

 <br />

<input type="radio" name="price" value="day"> Price per day:<br>

 <input type="checkbox" name="vehicle2" value="Car"> 0 - 10 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 10 - 20 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 20 - 30 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 30 - 40 <br>
 <input type="checkbox" name="vehicle2" value="Car"> 40+ <br>

</form>

<br>

<form>
<p>Facilities:</p>

 <input type="checkbox" name="vehicle1" value="Bike"> Free WiFi
 <input type="checkbox" name="vehicle2" value="Car"> Coffee
 <input type="checkbox" name="vehicle1" value="Bike"> Kitchen
 <input type="checkbox" name="vehicle1" value="Bike"> Printer
 <input type="checkbox" name="vehicle1" value="Bike"> Copy machine
 </form>

 <br />

 <form>
 <p>Extra:</p>
 <input type="checkbox" name="vehicle2" value="Car"> Open after 18:00
 <input type="checkbox" name="vehicle2" value="Car"> Open on Saturday
 <input type="checkbox" name="vehicle2" value="Car"> Open on Sunday

 <br />
 </form>
<!--<%= link_to 'Blog', controller: 'articles' %>-->
