<!DOCTYPE html>
<html>
<head>
<!--VANAF HIER Z CODES BOOTSTRAP-->

  <title>Flexplore: find flexible workspaces</title>

</head>

<div class="margin-home"></div>

<body class="site-home">
  <!--<h1>Flexplore</h1>-->

<h1>Find your favourite workspace</h1>

<div class="site-search">
  <form action="/search" method="GET">
    <input type="text" name="searchitem" placeholder="Search name or city"/>
    <input type="submit" value="Search">
  </form>
</div>

<!--<%= form_tag(locations_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search name or city" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>-->

 <br />
<div class="container-options">

<div class="site-options">
  <form>
    <p><input type="radio" name="price" value="day"> Price per day:<br/>

      <input type="checkbox" name="price" value="first"> 0 - 10 <br>
      <input type="checkbox" name="price" value="second"> 10 - 20 <br>
      <input type="checkbox" name="price" value="third"> 20 - 30 <br>
      <input type="checkbox" name="price" value="fourth"> 30 - 40 <br>
      <input type="checkbox" name="price" value="fifth"> 40+ <br></p>

  </form>
</div>

<div class="site-options">
  <form>
      <p><input type="radio" name="price" value="month" checked> Price per month:<br>

        <input type="checkbox" name="price" value="one"> 0 - 50 <br>
        <input type="checkbox" name="price" value="two"> 50 - 100 <br>
        <input type="checkbox" name="price" value="three"> 100 - 150 <br>
        <input type="checkbox" name="price" value="four"> 150 - 200 <br>
        <input type="checkbox" name="price" value="five"> 200 - 250 <br>
        <input type="checkbox" name="price" value="six"> 250+</p>
  </form>
</div>

<div class="site-options">
  <form>
      <p>Facilities:<br/>

        <input type="checkbox" name="facilities" value="wifi"> Free WiFi<br>
        <input type="checkbox" name="facilities" value="cofee"> Coffee/tea<br>
        <input type="checkbox" name="facilities" value="kitchen"> Kitchen<br>
        <input type="checkbox" name="facilities" value="printer"> Printer<br>
        <input type="checkbox" name="facilities" value="copy"> Copy machine<br></p>
 </form>
</div>

<div class="site-options">
 <form>
   <p>Extra:<br/>
     <input type="checkbox" name="extra" value="evening"> Open after 18:00<br>
     <input type="checkbox" name="extra" value="saturday"> Open on Saturday<br>
     <input type="checkbox" name="extra" value="sunday"> Open on Sunday<br></p>
 </form>
</div>

</div>

<!--HIER EINDIGT CODE Z-->

<h2>Under construction</h2>
<h2>Under construction</h2>
<h2>Under construction</h2>
<h2>Under construction</h2>
<h2>Under construction</h2>
<h2>Under construction</h2>


<h2>More information soon</h2>
<h2>More information soon</h2>
<h2>More information soon</h2>
<h2>More information soon</h2>
<h2>More information soon</h2>

</body>
 </html>


<!--<%= link_to 'Blog', controller: 'articles' %>-->
