<!DOCTYPE html>
<html>
 <head>
   <title>Flexplore</title>
 </head>

  <div class="margin"></div>

 <body>
   <div class="head">
     <h1>About Us</h1>

     <div class="margin2"></div>

     <h2>Vision</h2>
       <p1>This is our vision. We want to create a social platform where people and companies can meet and interact.</p1>

       <br/>

       <h2>Mission</h2>
       <p1>This is our mission. We offer people and companies the opportunity to find each other.</p1>
    </div>

 </body>
</html>
