
  <!DOCTYPE html>
 <html>
 <head>
   <title>About Flexplore</title>
 </head>
 <body>
<div class="head">
   <h1>About Us</h1>

       <h2>Vision</h2>
       <p1>This is our vision.</p1>

       <br/>

       <h2>Mission</h2>
       <p1>This is our mission.</p1>
     
  </div>

 </body>
 </html>
