<!DOCTYPE html>
<html>
 <head>
   <title>Flexplore</title>
 </head>

  <div class="margin"></div>

 <body>
   <div class="head">
     <h1>About Us</h1>

     <div class="margin2"></div>
     <div class="container-options">

     Founded in Rotterdam, The Netherlands in 2017, Flexplore is a growing marketplace for companies to list available workspaces and for people to find their ideal flexible workspace.

     <h2>Vision</h2>
       <p1>We want to create a social platform where people and companies can meet and interact.</p1>

       <br/>

       <h2>Mission</h2>
       <p1>We offer people and companies the opportunity to find each other.</p1>

     </div>
   </div>
 </body>
</html>
