
  <!DOCTYPE html>
 <html>
 <head>
   <title>About Flexplore</title>
 </head>
 <body>
<div class="head">
   <h1>About Us</h1>
     <p>
       <br /><b>Vision</b>
       <br />This is our vision.
    </p>

    <p>
       <br /><b>Mission</b>
       <br />This is our mission.
    </p>
  </div>

 </body>
 </html>
