<!DOCTYPE html>
<html>
<head>
<title>Flexplore</title>
</head>

  <div class="margin"></div>

<body>

  <div class="head">
    <h1>Contact</h1>

    <div class="margin2"></div>

    <h2>Address</h2>

    <p1>
      Flexplore B.V.<br>
      Hoofdstraat 100<br>
      3000 ML Rotterdam<br>
      The Netherlands<br>
      Telephone: +31 (0) 10-1234567<br>
      E-mail: info@flexplore.nl
    </p1>


    <h2>Company registration</h2>

    <p1>
      Kamer van Koophandel Rotterdam<br>
      File number 01234567<br>
      VAT registration number NL000000
    </p1>
  </div>

</body>
</html>
