<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
</head>
<body>

<div class="head">
 <h1>Contact</h1>

 <h2>Name and address</h2>
   <p>
    Flexplore
    <br />Hoofdstraat 100
    <br />3000 AZ Rotterdam
    <br />Telephone: +31....
    <br />E-mail: ...@...com
   </p>

 <h2>Company registration</h2>
   <p>
     Kamer van Koophandel Rotterdam
    <br />File number 01234567
    <br />VAT registration number NL....
   </p>
</div>

</body>
</html>
