<!DOCTYPE html>
<html>
<head>
<title>How It Works</title>
</head>


<body>
<div class="head">
 <h1>How It Works</h1>

<br />

   <p>
    You search and find.
   </p>
</div>

</body>
</html>
