<!DOCTYPE html>
<html>
<head>
<title>How It Works</title>
</head>


<body>
<div class="head">
 <h1>How It Works</h1>

<br />

   <p1>
    You search and find.
  </p1>
</div>

</body>
</html>
