<!DOCTYPE html>
<html>
<head>
  <title>Flexplore</title>
</head>

  <div class="margin"></div>

<body>

  <div class="head">
    <h1>How It Works</h1>

  <div class="margin2"></div>

   <p1>
    You search, find, book and work. Soon we will provide you more information about our services.
  </p1>
  </div>

</body>
</html>
