<!DOCTYPE html>
<html>
<head>
  <title>Flexplore</title>
</head>

  <div class="margin"></div>

<body>

  <div class="head">
    <h1>How It Works</h1>

    <div class="margin2"></div>
    <div class="container-options">

    <h2>List your workspace</h2>
    <p1>Create a professional location page in minutes. Reach audience in seconds.</p1>

    <h2>Find a workspace</h2>
    <p1>You search, find, book and work anywhere in the world.</p1>

    <div class="margin2"></div>

    <p1>Soon we will provide you more information about our services.</p1>

    </div>
  </div>

</body>
</html>
