/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
     height: 100%;
     margin: 0;


 /*.bg {
     /* The image used */
     /*background: url("http://www.singaporecarpet.com/images/7-reasons-why-carpet-is-a-popular-choice-for-office.jpg");*/

     /* Full height */
     height: 100%;

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

.style_logo {
  position: relative;
  float: left;
  width: 200px;
  margin-top: -14px;
  /*margin-left: -50px;*/
  margin-bottom: -16px;
  /*margin-right: -10px;*/
}

.nav a {
  color: black;
}

.navbar {
  background-color: #ffffff;
}

/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #4CAF50;
    color: #4CAF50;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */

a:hover {
  background-color: #003399;
  color: red;
}

/* a.active {
  background-color: #4CAF50
} */

//Z EN T BACKGROUND IMAGE
.site-home {
  position: relative;
}

//T BACKGROUND IMAGE:
.site-home::after {
  z-index: -1;
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: image-url("landingpage.jpg");
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.head {
  text-align: center;
}


h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 15px;
  text-align: left;
}

p1 {
  font-size: 13px;
  text-align: center;

}

.subhoofd {

}
.site-search {
  margin-top: 40px;
  text-align: center;
}

.site-options {
  display: inline-flex;
  justify-content: flex-start;
  float: inherit;
  text-align: left;
}

.margin-home {
  margin-top: 150px;
}

.margin {
  margin-top: 100px;
}

.margin2 {
  margin-top: 50px;
}

.container-options {
  text-align: center;
  background-color: rgba(217, 217, 217, 0.4);
  padding: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

/* De footer afkomstig van https://stackoverflow.com/questions/18915550/fix-footer-to-bottom-of-page */

#footer{
  position: relative;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: -50px;
    padding-top: 150px;
    padding-bottom: 50px;
    font-weight: bold;
}
